export(
    # makeAttributes,
    # makeFile,
    # makeSQL,
    # splitHtml,
    hideFiles,
    makeVars
)
import(admisc)
import(readxl)
importFrom("stats", "na.omit")
importFrom("tools", "file_ext")
importFrom("DBI", "dbConnect", "dbDisconnect", "dbGetQuery")
importFrom("haven", "tagged_na", "write_sav", "write_dta")
importFrom("RMariaDB", "MariaDB")
importFrom("stringi", "stri_trans_general")
importFrom("utils", "packageDescription", "write.csv", "read.csv")
# S3method(descarca, default)
